body {
    background-image: url(https://seoimgak.mmtcdn.com/blog/sites/default/files/Hero_Image1_22.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
  .note {
    font-size: 12px;
    color: red;
  }
  
  .price {
    font-weight: bolder;
  }
  
  #balance-amount {
    font-size: 24px;
  }
  .form-check-input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; }

  .mb-3 input,
  .mb-3 select {
    border-radius: 5px;
    border: 1px solid black;
    width: 30vw;
    padding: 5px;
  }
  
  .btn-primary {
    width: 15vw;
    padding: 1%;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    max-width: 650px;
  }
  
  .card-header {
    
    border-radius: 8px 8px 0 0;
  }
  
  .card-body {
    padding: 20px;
  }